.Rproj.user
.Rhistory
.RData
# History files
.Rapp.history

# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
vignettes/*.R
vignettes/gh-pages/
**/.DS_STORE
.fromBinary/
.fromGT3X/
inst/doc
inst/counts_script/
offline_data/
*temp*
packrat/lib*/
