<div id="navwrap">
  <div class="container">
    <div class="row">
      <span>
        <a href="{{ '/cv/' | prepend: site.baseurl }}"><b>CV</b></a>
        &bull; <a href="http://www.google.com/recaptcha/mailhide/d?k=01qoFRFM7A3dkgYhYnWgsUZQ==&c=ZSE5-J2wH6sx0zhDQDk4Gg==">Email</a> 
        &bull; <a href="http://www.linkedin.com/in/qutang">LinkedIn</a>
        &bull; <a href="http://www.github.com/qutang/">Github</a>
        &bull; <a href="{{ '/timeline/' | prepend: site.baseurl }}">Timeline</a>
      </span>
    </div>
  </div>
</div>
