body{
  font-family: 'Droid Serif', sans-serif;
  font-weight: 400;
  margin-right: auto;
  margin-left: auto;
	height: 100%;
	background: #ffffff;
	color: rgb(92, 112, 135);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Droid Serif', sans-serif;
	font-weight: 700;
	color: rgb(92, 112, 135);
}

p {
	padding: 0;
	margin-bottom: 12px;
	font-family: 'Droid Serif', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	margin-top: 10px;
	color: #5C7087;
}

img {
	height: auto;
	max-width: 100%;
}

a {
    color:#428bca;
    padding: 0;
	margin: 0;
	text-decoration: none;
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#01b2fe;
}

::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#5C7087;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#5C7087;
}

.centered {
	text-align: center
}

#header {
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 0px;
	text-align: center;
	padding-top: 100px;
	padding-left: 0;
}

.section h1{
	font-size:1.5em;
}
.section h2{
	font-size:1.4em;
}

.section h3{
	font-size:1.2em;
}

.section h4{
	font-size:1.1em;
}

.section h5{
	font-size:1em;
}

.section h6{
	font-size:1em;
	font-weight:600;
}

.section img{
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.section {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  body {
    width: 750px;
  }
}
@media (min-width: 992px) {
  body {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  body {
    width: 1170px;
  }
}

:not(pre)>code{
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  white-space: nowrap;
  background-color: #f9f2f4;
  border-radius: 4px;
}

#header h1{
  font-size:24px;
}

#header h4{
  display: inline;
  font-size: 1em;
  font-weight:normal;
}

#header h4 em{
  text-decoration: none;
}
