---
layout: default
css: 
- /assets/css/launch.css
---
<div id="headerwrap">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-12">
                <h3>{{ page.title }}
                </h3>
                <small>
                    {{ page.subtitle }}
                </small>
                <div class="row">
                <p class="col-lg-offset-3 col-lg-6 text-left">
                    {{ page.description }}
                </p>
                </div>
                
                <div class="row">
                <h4 class="col-lg-offset-3 col-lg-2"><a href="{{ page.doc-url }}"><i class="fa fa-book fa-2x"></i><br><br>Docs</a></h4>
                <h4 class="col-lg-2"><a href="{{ page.bug-url }}"><i class="fa fa-bug fa-2x"></i><br><br>Bugs and features</a></h4>
                <h4 class="col-lg-2"><a href="{{ page.code-url }}"><i class="fa fa-file-code-o fa-2x"></i><br><br>Source codes</a></h4>
                </div>
                <p><a href="{{ "/" | prepend: site.baseurl }}">Back to project home</a> 
                &bull; <a href="/">Back to QU.</a>
                &bull; <a href="/project/mhealthformat-support-r-update">Timeline</a></p>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1" id="launch-content">
            <div class="spacing"></div>
            {{ content }}
        </div>
    </div>
</div>